<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="108f2b2d-74c7-48cb-9384-71078f1ae27a" Alias="cardItemsRow" Level="4">
  <Info>
    <Name>Card Items Row</Name>
    <Icon>icon-article color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Content+Models</Folder>
    <Compositions>
      <Composition Key="caa57b72-f895-49cd-ab63-5b126ce386bd">descriptionProperty</Composition>
      <Composition Key="fcd75af0-9fde-4bd7-abfb-038d8ac4c592">titleProperty</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1ee1f5da-b2a1-4f2d-b33e-1ea4f8a504ba</Key>
      <Name>Items Card</Name>
      <Alias>itemsCard</Alias>
      <Definition>5bf14368-97c5-4fce-a20a-75fe9343edab</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>40</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>6bbd82f3-626c-42de-abf9-808ac670fff6</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>