<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a737be0b-6ef2-4bd9-936a-0f40ff16f42b" Alias="videoRow" Level="4">
  <Info>
    <Name>Video Row</Name>
    <Icon>icon-video color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Content+Models</Folder>
    <Compositions>
      <Composition Key="caa57b72-f895-49cd-ab63-5b126ce386bd">descriptionProperty</Composition>
      <Composition Key="aa4f0753-ea5f-4015-ab8d-00f6530cd26d">linkProperty</Composition>
      <Composition Key="fcd75af0-9fde-4bd7-abfb-038d8ac4c592">titleProperty</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>