@inherits UmbracoViewPage

@{
    var homePage = Umbraco.AssignedContentItem.AncestorOrSelf<HomePage>();
    var navigationItems = homePage.MainNavigation;
}
<!-- Navigation-->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid row">
    <div class="col-6">
      <a class="navbar-brand" href="#"><img src="@homePage.ImageLogo.Url()" alt=""></a>
    </div>

      <button class="navbar-toggler col-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse col-6" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        @if(navigationItems != null && navigationItems.Any()){
            foreach(var item in navigationItems){
              <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="@homePage.Url()">@item.Title</a></li>
            }
        }
      </ul>
    </div>
  </div>
</nav>