@* @inherits UmbracoViewPage<BlockListItem> *@

@{
  var row = (FooterItems)Model.Content;
  var settings = (FooterItemsSettings)Model.Settings;
  if(settings?.Hide ?? false) {return;}
  if(row.FooterList == null || !row.FooterList.Any()) return;
}

<div class="container-fluid">
    <p>@row.Title</p>

    <div>
        @foreach(var item in row.FooterList){
            @* <p>@item.Title</p> *@
        }
    </div>

</div>