<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4bae2b64-a65b-457d-96ba-ec037075287a" Alias="[BlockList] Carousel Items" Level="1">
  <Info>
    <Name>[BlockList] Carousel Items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "53ec2c1f-7bae-4966-95f3-09408eff8762",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": "f7c1a71c-9234-4645-9e2d-527e073c5be4",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>