<?xml version="1.0" encoding="utf-8"?>
<DataType Key="48297fbe-4a78-4621-8702-82db5e4805f1" Alias="[BlockList] Footer Items List" Level="1">
  <Info>
    <Name>[BlockList] Footer Items List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "5bc933ab-34d4-47ce-a5bb-29e6c126c662",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": "7c6ce741-fa2d-4d3a-b4d6-5fd718f41078",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>