<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b73c7dc0-1cbb-492d-b602-b4e84b02408c" Alias="[BlockList] Modelos Items Car" Level="1">
  <Info>
    <Name>[BlockList] Modelos Items Car</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "e8c9db73-c6ff-4258-a536-9598e7241e4a",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>