<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e381af11-e54a-4f25-92d0-fc12810bb7e2" Alias="[MultiURLPicker] Singer URL Picker" Level="1">
  <Info>
    <Name>[MultiURLPicker] Singer URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>