<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5e6fc7c8-eaa0-4772-a237-6863b2a533d1" Alias="[Nested] Modelos Items" Level="1">
  <Info>
    <Name>[Nested] Modelos Items</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "",
      "ncAlias": "modelosItems",
      "ncTabAlias": "Content"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": null,
  "MinItems": null,
  "ShowIcons": true
}]]></Config>
</DataType>