<?xml version="1.0" encoding="utf-8"?>
<DataType Key="537b64c7-7aca-41c1-96fb-8cae7d0e3d79" Alias="[Nested] Navigation Item List" Level="1">
  <Info>
    <Name>[Nested] Navigation Item List</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "{{title}}",
      "ncAlias": "navigationItem",
      "ncTabAlias": "Content"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": null,
  "MinItems": 2,
  "ShowIcons": true
}]]></Config>
</DataType>