<?xml version="1.0" encoding="utf-8"?>
<Media Key="be1d2c25-43a5-43f6-beb5-273220e68e23" Alias="5D510a8956d80e9de206636ba0694924" Level="2">
  <Info>
    <Parent Key="e7e326b9-ac38-41bd-84d3-24cbdf56ad69">car</Parent>
    <Path>/car/D510a8956d80e9de206636ba0694924</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-10T16:42:50</CreateDate>
    <NodeName Default="5D510a8956d80e9de206636ba0694924" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/emwb1pvf/5d510a8956d80e9de206636ba0694924.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>