<?xml version="1.0" encoding="utf-8"?>
<Media Key="806e1f9b-74d4-4bbb-b037-9085953e07c2" Alias="Agenda" Level="2">
  <Info>
    <Parent Key="1804dade-0ac4-4d9a-9786-e48132798573">menuAside</Parent>
    <Path>/menuAside/Agenda</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-18T14:10:33</CreateDate>
    <NodeName Default="Agenda" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tuph3agu/agenda.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>