<?xml version="1.0" encoding="utf-8"?>
<Media Key="bd232358-54c0-47c5-972e-16cf0a5b2e61" Alias="Alto 800" Level="3">
  <Info>
    <Parent Key="ff2778e6-d2fd-43e4-a8c1-b4a546f7976c">Modelos Compacto</Parent>
    <Path>/Modelos/ModelosCompacto/Alto800</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-20T16:27:44</CreateDate>
    <NodeName Default="Alto 800" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lyrdhpoa/alto-800.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>