<?xml version="1.0" encoding="utf-8"?>
<Media Key="5466e093-5401-422d-83aa-0d54d9f651f5" Alias="Apv" Level="4">
  <Info>
    <Parent Key="4ef03ef2-ff61-4c90-b9b0-274b63583b05">Modelos Paneles</Parent>
    <Path>/Modelos/ModelosSuv/ModelosPaneles/Apv</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-24T15:59:00</CreateDate>
    <NodeName Default="Apv" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/sxqgmvab/apv.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>