<?xml version="1.0" encoding="utf-8"?>
<Media Key="f005d8e5-10d7-4157-b1a3-5e1121963bcc" Alias="Baleno" Level="3">
  <Info>
    <Parent Key="ff2778e6-d2fd-43e4-a8c1-b4a546f7976c">Modelos Compacto</Parent>
    <Path>/Modelos/ModelosCompacto/Baleno</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-20T16:27:44</CreateDate>
    <NodeName Default="Baleno" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2pmal2gx/baleno.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>