<?xml version="1.0" encoding="utf-8"?>
<Media Key="e7e326b9-ac38-41bd-84d3-24cbdf56ad69" Alias="car" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/car</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-11-09T15:29:58</CreateDate>
    <NodeName Default="car" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>