<?xml version="1.0" encoding="utf-8"?>
<Media Key="b665e5f5-9899-48df-bb0e-28fc3f6fa285" Alias="carditems" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/carditems</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-11-15T14:30:20</CreateDate>
    <NodeName Default="carditems" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>