<?xml version="1.0" encoding="utf-8"?>
<Media Key="2a9920a2-3f0c-4156-9fc9-414af64d66a4" Alias="Compara" Level="2">
  <Info>
    <Parent Key="1804dade-0ac4-4d9a-9786-e48132798573">menuAside</Parent>
    <Path>/menuAside/Compara</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-18T14:10:32</CreateDate>
    <NodeName Default="Compara" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/uqqjskqm/compara.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>