<?xml version="1.0" encoding="utf-8"?>
<Media Key="fde58bae-c90a-4ea7-9207-d20d3a881e9f" Alias="Ic Search" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/IcSearch</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-11-13T14:05:38</CreateDate>
    <NodeName Default="Ic Search" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/t4fpl5ik/ic_search.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>