<?xml version="1.0" encoding="utf-8"?>
<Media Key="79986a08-ce16-4151-be58-2889d322dc40" Alias="Icon3" Level="2">
  <Info>
    <Parent Key="a555e381-810f-4965-bcf1-22ae533bd3fd">iconCard</Parent>
    <Path>/iconCard/Icon3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-11T16:56:35</CreateDate>
    <NodeName Default="Icon3" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bzvjq4iw/icon3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>