<?xml version="1.0" encoding="utf-8"?>
<Media Key="a555e381-810f-4965-bcf1-22ae533bd3fd" Alias="iconCard" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/iconCard</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-11-11T16:56:25</CreateDate>
    <NodeName Default="iconCard" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>