<?xml version="1.0" encoding="utf-8"?>
<Media Key="6c4c130d-b205-438c-820b-42a44cc47e21" Alias="Icon1" Level="2">
  <Info>
    <Parent Key="a555e381-810f-4965-bcf1-22ae533bd3fd">iconCard</Parent>
    <Path>/iconCard/Icon1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-11T16:56:35</CreateDate>
    <NodeName Default="Icon1" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bmjfy1af/icon1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>