<?xml version="1.0" encoding="utf-8"?>
<Media Key="6af024eb-9ace-4e99-b2ce-042eaae090f1" Alias="img-4" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/img4</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-11-13T15:48:53</CreateDate>
    <NodeName Default="img-4" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>