<?xml version="1.0" encoding="utf-8"?>
<Media Key="d5585a0f-5958-4b39-ae95-ebd1f1e6f2a7" Alias="Img1" Level="2">
  <Info>
    <Parent Key="e7e326b9-ac38-41bd-84d3-24cbdf56ad69">car</Parent>
    <Path>/car/Img1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-09T15:30:08</CreateDate>
    <NodeName Default="Img1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bfnfrvky/img1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>