<?xml version="1.0" encoding="utf-8"?>
<Media Key="db87003d-d88c-4f4a-8c8b-e2a3a192aa26" Alias="Logoz" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Logoz</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-08T17:17:56</CreateDate>
    <NodeName Default="Logoz" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hmaipw2m/logoz.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>