<?xml version="1.0" encoding="utf-8"?>
<Media Key="7f8aca25-15f5-4e9d-ba6e-fd1c2bf37852" Alias="Lupa 3" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Lupa3</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-11-13T14:29:03</CreateDate>
    <NodeName Default="Lupa 3" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hxfiu55v/lupa-3.avif]]></Value>
    </umbracoFile>
  </Properties>
</Media>