<?xml version="1.0" encoding="utf-8"?>
<Media Key="a39eb7dd-a855-4a8e-9732-6b99bbd781f9" Alias="Lupa-4" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Lupa4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-13T14:30:14</CreateDate>
    <NodeName Default="Lupa-4" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1o1j3i0v/lupa4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>