<?xml version="1.0" encoding="utf-8"?>
<Media Key="4ef03ef2-ff61-4c90-b9b0-274b63583b05" Alias="Modelos Paneles" Level="3">
  <Info>
    <Parent Key="04cb3e97-12c5-4dea-9b30-11985ec74645">Modelos Suv</Parent>
    <Path>/Modelos/ModelosSuv/ModelosPaneles</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-11-24T15:58:57</CreateDate>
    <NodeName Default="Modelos Paneles" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>