<?xml version="1.0" encoding="utf-8"?>
<Media Key="a00bea43-51d8-4202-8081-95fc02a7bc1d" Alias="Modelos" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Modelos</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-11-20T16:27:07</CreateDate>
    <NodeName Default="Modelos" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>