<?xml version="1.0" encoding="utf-8"?>
<Media Key="ff2778e6-d2fd-43e4-a8c1-b4a546f7976c" Alias="Modelos Compacto" Level="2">
  <Info>
    <Parent Key="a00bea43-51d8-4202-8081-95fc02a7bc1d">Modelos</Parent>
    <Path>/Modelos/ModelosCompacto</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-11-20T16:27:22</CreateDate>
    <NodeName Default="Modelos Compacto" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>