<?xml version="1.0" encoding="utf-8"?>
<Media Key="4a63b53f-1c62-4983-8716-ce73f0b9a5f3" Alias="Promociones" Level="2">
  <Info>
    <Parent Key="6af024eb-9ace-4e99-b2ce-042eaae090f1">img-4</Parent>
    <Path>/img4/Promociones</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-13T15:48:56</CreateDate>
    <NodeName Default="Promociones" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hg0hgstc/promociones.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>