<?xml version="1.0" encoding="utf-8"?>
<Media Key="a5c66470-4ce1-46d7-8602-ee84982983e3" Alias="S1" Level="3">
  <Info>
    <Parent Key="04cb3e97-12c5-4dea-9b30-11985ec74645">Modelos Suv</Parent>
    <Path>/Modelos/ModelosSuv/S1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-24T15:44:07</CreateDate>
    <NodeName Default="S1" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ozsmnjpb/s1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>