<?xml version="1.0" encoding="utf-8"?>
<Media Key="ce6c527c-f43a-45a7-87a0-b840b9dc77cb" Alias="Sucursales" Level="2">
  <Info>
    <Parent Key="6af024eb-9ace-4e99-b2ce-042eaae090f1">img-4</Parent>
    <Path>/img4/Sucursales</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-13T15:48:56</CreateDate>
    <NodeName Default="Sucursales" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pjjgztr0/sucursales.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>