<?xml version="1.0" encoding="utf-8"?>
<Media Key="7466ad9e-6725-45b3-b514-aa284d2d3e52" Alias="SUZ BLOGJUNIO BLOG02" Level="2">
  <Info>
    <Parent Key="b665e5f5-9899-48df-bb0e-28fc3f6fa285">carditems</Parent>
    <Path>/carditems/SUZBLOGJUNIOBLOG02</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-15T14:30:29</CreateDate>
    <NodeName Default="SUZ BLOGJUNIO BLOG02" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tcwhm3bf/suz_blogjunio_blog02.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>