<?xml version="1.0" encoding="utf-8"?>
<Media Key="31089e41-f3be-4c32-8008-b07a9feb1e23" Alias="SUZUKI BLOGMAYO" Level="2">
  <Info>
    <Parent Key="b665e5f5-9899-48df-bb0e-28fc3f6fa285">carditems</Parent>
    <Path>/carditems/SUZUKIBLOGMAYO</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-15T14:30:29</CreateDate>
    <NodeName Default="SUZUKI BLOGMAYO" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/i4paqmn4/suzuki_blogmayo.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>