<?xml version="1.0" encoding="utf-8"?>
<Media Key="b52e9367-5064-430b-86f3-98fd2859e20e" Alias="SUZUKI BLOG 01" Level="2">
  <Info>
    <Parent Key="b665e5f5-9899-48df-bb0e-28fc3f6fa285">carditems</Parent>
    <Path>/carditems/SUZUKIBLOG01</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-15T15:32:56</CreateDate>
    <NodeName Default="SUZUKI BLOG 01" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mgjd3nle/suzuki_blog-01.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>