<?xml version="1.0" encoding="utf-8"?>
<Media Key="78d30447-5224-4da3-b70d-8d7665977b52" Alias="SUZUKI BLOGMAYO 02" Level="2">
  <Info>
    <Parent Key="b665e5f5-9899-48df-bb0e-28fc3f6fa285">carditems</Parent>
    <Path>/carditems/SUZUKIBLOGMAYO02</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-15T14:30:29</CreateDate>
    <NodeName Default="SUZUKI BLOGMAYO 02" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/iecng4be/suzuki_blogmayo_02.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>