<?xml version="1.0" encoding="utf-8"?>
<Media Key="673b807c-0cb7-44ca-8698-bfda920b70ab" Alias="Swift" Level="3">
  <Info>
    <Parent Key="ff2778e6-d2fd-43e4-a8c1-b4a546f7976c">Modelos Compacto</Parent>
    <Path>/Modelos/ModelosCompacto/Swift</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-20T16:27:45</CreateDate>
    <NodeName Default="Swift" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pkadwz3x/swift.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>