<?xml version="1.0" encoding="utf-8"?>
<Media Key="e53060e3-ec15-45ce-8245-bdd00ecdea7a" Alias="Test Drive" Level="2">
  <Info>
    <Parent Key="6af024eb-9ace-4e99-b2ce-042eaae090f1">img-4</Parent>
    <Path>/img4/TestDrive</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-13T15:48:56</CreateDate>
    <NodeName Default="Test Drive" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2vqdbziv/test-drive.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>