<?xml version="1.0" encoding="utf-8"?>
<Media Key="95e74458-034f-44ad-8aac-2851091f6792" Alias="Vitara 4X2" Level="3">
  <Info>
    <Parent Key="04cb3e97-12c5-4dea-9b30-11985ec74645">Modelos Suv</Parent>
    <Path>/Modelos/ModelosSuv/Vitara4X2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-24T15:44:07</CreateDate>
    <NodeName Default="Vitara 4X2" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lzcopfkp/vitara-4x2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>