<?xml version="1.0" encoding="utf-8"?>
<Media Key="084295de-738d-49d2-89e4-ee57ffcffc33" Alias="Vitara Turbo" Level="3">
  <Info>
    <Parent Key="04cb3e97-12c5-4dea-9b30-11985ec74645">Modelos Suv</Parent>
    <Path>/Modelos/ModelosSuv/VitaraTurbo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-24T15:44:07</CreateDate>
    <NodeName Default="Vitara Turbo" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1ckfecen/vitara-turbo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>