<?xml version="1.0" encoding="utf-8"?>
<Media Key="a5068578-21d6-4ab4-a5bc-f8ddd40a1da6" Alias="W1" Level="3">
  <Info>
    <Parent Key="04cb3e97-12c5-4dea-9b30-11985ec74645">Modelos Suv</Parent>
    <Path>/Modelos/ModelosSuv/W1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-24T15:44:07</CreateDate>
    <NodeName Default="W1" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/p0cbnjow/w1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>