<?xml version="1.0" encoding="utf-8"?>
<Media Key="b8e00edb-0924-4389-99c6-bbe501863be7" Alias="W2" Level="3">
  <Info>
    <Parent Key="04cb3e97-12c5-4dea-9b30-11985ec74645">Modelos Suv</Parent>
    <Path>/Modelos/ModelosSuv/W2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-24T15:44:07</CreateDate>
    <NodeName Default="W2" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1uhobobe/w2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>