<?xml version="1.0" encoding="utf-8"?>
<Media Key="0881a294-4cfc-4ee6-bb64-068b21a81767" Alias="Xl7 1" Level="3">
  <Info>
    <Parent Key="d8c7d042-af8e-4740-922b-ef97dad71198">Modelos Pasajeros</Parent>
    <Path>/Modelos/ModelosPasajeros/Xl71</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-22T15:35:11</CreateDate>
    <NodeName Default="Xl7 1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/skricch2/xl7-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>