<?xml version="1.0" encoding="utf-8"?>
<Content Key="50f4f824-72ae-47c1-b1c4-426de83b2b59" Alias="Home Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomePage</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2023-11-08T15:51:20</CreateDate>
    <NodeName Default="Home Page">
      <Name Culture="en-us">Home Page</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="9d5ce128-2052-4b61-93c4-b7b6bf2c0bdc">HomePage</Template>
  </Info>
  <Properties>
    <footerItemsContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/46bb3389357c49bfbb46818d37b63973",
        "settingsUdi": "umb://element/392d090f802347719eac31fd0134d738"
      },
      {
        "contentUdi": "umb://element/c049c546ff35437b99f9c7df8a1c3cb4",
        "settingsUdi": "umb://element/a0fe04f46b0040e696496f87cde3e12a"
      },
      {
        "contentUdi": "umb://element/19d66da7509542a3bc2716e1f6dcb824",
        "settingsUdi": "umb://element/434d66ca83184d7a8c2d47a895370f94"
      },
      {
        "contentUdi": "umb://element/fa38931f5c2245638cf1265c1d2cc08b",
        "settingsUdi": "umb://element/a70eb80048d643e7a94aae0bef15b80b"
      },
      {
        "contentUdi": "umb://element/5fc782e698f84a649fd5276fc4c8d4d2",
        "settingsUdi": "umb://element/1c28283c5e2b4c629aa7137194847be1"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "5bc933ab-34d4-47ce-a5bb-29e6c126c662",
      "udi": "umb://element/46bb3389357c49bfbb46818d37b63973",
      "title": "SUVS",
      "footerList": [
        {
          "name": "Vitara 4x2",
          "url": "https://www.google.com/"
        },
        {
          "name": "Vitara 4x4",
          "url": "https://www.google.com/"
        },
        {
          "name": "Vitara Turbo",
          "url": "https://www.google.com/"
        },
        {
          "name": "Jimny",
          "url": "https://www.google.com/"
        }
      ]
    },
    {
      "contentTypeKey": "5bc933ab-34d4-47ce-a5bb-29e6c126c662",
      "udi": "umb://element/c049c546ff35437b99f9c7df8a1c3cb4",
      "title": "COMPACTOS Y SEDANES",
      "footerList": [
        {
          "name": "Alto 800",
          "url": "https://www.google.com/"
        },
        {
          "name": "S-Presso",
          "url": "https://www.google.com/"
        },
        {
          "name": "Swift Revolution",
          "url": "https://www.google.com/"
        },
        {
          "name": "Baleno",
          "url": "https://www.google.com/"
        },
        {
          "name": "Swift Dize",
          "url": "https://www.google.com/"
        },
        {
          "name": "Ciaz",
          "url": "https://www.google.com/"
        }
      ]
    },
    {
      "contentTypeKey": "5bc933ab-34d4-47ce-a5bb-29e6c126c662",
      "udi": "umb://element/19d66da7509542a3bc2716e1f6dcb824",
      "title": "7 PASAJEROS Y PANELES",
      "footerList": [
        {
          "name": "XL7",
          "url": "https://www.google.com/"
        },
        {
          "name": "APV Panel",
          "url": "https://www.google.com/"
        }
      ]
    },
    {
      "contentTypeKey": "5bc933ab-34d4-47ce-a5bb-29e6c126c662",
      "udi": "umb://element/fa38931f5c2245638cf1265c1d2cc08b",
      "title": "SUCURSALES",
      "footerList": [
        {
          "name": "Agencia Uruca, General Cañas",
          "url": "https://www.google.com/"
        },
        {
          "name": "Agencia Heredia",
          "url": "https://www.google.com/"
        },
        {
          "name": "Agenzia Zapote",
          "url": "https://www.google.com/"
        },
        {
          "name": "Agencia Santa Ana",
          "url": "https://www.google.com/"
        },
        {
          "name": "Agencia San Carlos",
          "url": "https://www.google.com/"
        },
        {
          "name": "Centro Logístico",
          "url": "https://www.google.com/"
        },
        {
          "name": "Agencia Guápiles",
          "url": "https://www.google.com/"
        },
        {
          "name": "Agencia Pérez Zaledon",
          "url": "https://www.google.com/"
        }
      ]
    },
    {
      "contentTypeKey": "5bc933ab-34d4-47ce-a5bb-29e6c126c662",
      "udi": "umb://element/5fc782e698f84a649fd5276fc4c8d4d2",
      "title": "AYUDA",
      "footerList": [
        {
          "name": "Trabajá con Suzuki",
          "url": "https://www.google.com/"
        },
        {
          "name": "Cotizá Tu Suzuki",
          "url": "https://www.google.com/"
        },
        {
          "name": "Test Drive",
          "url": "https://www.google.com/"
        },
        {
          "name": "Contacto",
          "url": "https://www.google.com/"
        },
        {
          "name": "Inchcape Protection Express Sociedad Agencia de Seguros S-A (Antes: Cohen Protección Express)",
          "url": "https://www.google.com/"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "7c6ce741-fa2d-4d3a-b4d6-5fd718f41078",
      "udi": "umb://element/392d090f802347719eac31fd0134d738",
      "hide": "1"
    },
    {
      "contentTypeKey": "7c6ce741-fa2d-4d3a-b4d6-5fd718f41078",
      "udi": "umb://element/a0fe04f46b0040e696496f87cde3e12a",
      "hide": "0"
    },
    {
      "contentTypeKey": "7c6ce741-fa2d-4d3a-b4d6-5fd718f41078",
      "udi": "umb://element/434d66ca83184d7a8c2d47a895370f94",
      "hide": "0"
    },
    {
      "contentTypeKey": "7c6ce741-fa2d-4d3a-b4d6-5fd718f41078",
      "udi": "umb://element/a70eb80048d643e7a94aae0bef15b80b",
      "hide": "0"
    },
    {
      "contentTypeKey": "7c6ce741-fa2d-4d3a-b4d6-5fd718f41078",
      "udi": "umb://element/1c28283c5e2b4c629aa7137194847be1",
      "hide": "0"
    }
  ]
}]]></Value>
    </footerItemsContent>
    <footerSocialLinks>
      <Value><![CDATA[[
  {
    "network": "linkedin",
    "name": "LinkedIn",
    "url": "https://linkedin.com/in/"
  },
  {
    "network": "youtube",
    "name": "YouTube",
    "url": "https://youtube.com/"
  },
  {
    "network": "github",
    "name": "GitHub",
    "url": "https://github.com/LangerTwo"
  }
]]]></Value>
    </footerSocialLinks>
    <hide>
      <Value><![CDATA[0]]></Value>
    </hide>
    <imageLogo>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "3251ced4-129d-44ce-af54-fe03f613da3c",
    "mediaKey": "db87003d-d88c-4f4a-8c8b-e2a3a192aa26"
  }
]]]></Value>
    </imageLogo>
    <imageLupa>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "4f80d990-b1b5-44da-9d9b-1dbefd062c27",
    "mediaKey": "a39eb7dd-a855-4a8e-9732-6b99bbd781f9"
  }
]]]></Value>
    </imageLupa>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4f09603bdf8b43ef8a3dab96a39194e2",
        "settingsUdi": "umb://element/a9f7bc3675f445a9bcfadf4f01962d42"
      },
      {
        "contentUdi": "umb://element/377e936052e64fcc8d82ccbda15f517b",
        "settingsUdi": "umb://element/2eaa2682046840e68fd9fda27536df94"
      },
      {
        "contentUdi": "umb://element/1adad07b8dc847688db5fb4ee13d544e",
        "settingsUdi": "umb://element/bfd61902c06547a594499a0fc0e5cb57"
      },
      {
        "contentUdi": "umb://element/864badcf80954e299ffaea74b0820a3d",
        "settingsUdi": "umb://element/065d59d41e774aae89210dc965b7f493"
      },
      {
        "contentUdi": "umb://element/be214de886d245f3a59a4788cef975f3",
        "settingsUdi": "umb://element/7659c1d8067d498393257801bc46058f"
      },
      {
        "contentUdi": "umb://element/823e46fdcd9047fcbe87c41c103e9b12",
        "settingsUdi": "umb://element/85640716b3aa46958d31f2bf71d2c95f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d22a3bff-5b6b-4d31-9b9d-5cc6de40653a",
      "udi": "umb://element/4f09603bdf8b43ef8a3dab96a39194e2",
      "carouselItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/409a2d2545ae422d9dcdd62ada85e183",
              "settingsUdi": "umb://element/a87d2e1512664619826079d2cbb84d10"
            },
            {
              "contentUdi": "umb://element/3708e8201258430dafc6d8e7ac11df07",
              "settingsUdi": "umb://element/73a5a5b0259841b6b4855a669f9583d6"
            },
            {
              "contentUdi": "umb://element/b0b9e307460b440f8305c69e8943dc9b",
              "settingsUdi": "umb://element/4befd60e55c94636885bcd0d003bfe2b"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "53ec2c1f-7bae-4966-95f3-09408eff8762",
            "udi": "umb://element/409a2d2545ae422d9dcdd62ada85e183",
            "title": "TUS AVENTURAS  AL SIGUIENTE NIVEL",
            "image": [
              {
                "key": "3559cde9-a6ad-41fa-81ef-1295a0014b00",
                "mediaKey": "d5585a0f-5958-4b39-ae95-ebd1f1e6f2a7"
              }
            ],
            "description": "NUEVO SUZUKI GRAND VITARA",
            "linkItems": [
              {
                "name": "VER MODELO",
                "url": "https://www.google.com/"
              },
              {
                "name": "COTIZAR",
                "url": "https://www.google.com/"
              }
            ]
          },
          {
            "contentTypeKey": "53ec2c1f-7bae-4966-95f3-09408eff8762",
            "udi": "umb://element/3708e8201258430dafc6d8e7ac11df07",
            "title": "",
            "image": [
              {
                "key": "a92fd60c-7e89-46ee-a92e-87745ad74e6b",
                "mediaKey": "40a1e683-61f2-4905-abf5-1b4ca5de2120"
              }
            ],
            "linkItems": null
          },
          {
            "contentTypeKey": "53ec2c1f-7bae-4966-95f3-09408eff8762",
            "udi": "umb://element/b0b9e307460b440f8305c69e8943dc9b",
            "title": "",
            "image": [
              {
                "key": "72acdea4-7537-4812-bb9a-6b29c2975b2a",
                "mediaKey": "be1d2c25-43a5-43f6-beb5-273220e68e23"
              }
            ],
            "linkItems": null
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "f7c1a71c-9234-4645-9e2d-527e073c5be4",
            "udi": "umb://element/a87d2e1512664619826079d2cbb84d10",
            "hide": "0"
          },
          {
            "contentTypeKey": "f7c1a71c-9234-4645-9e2d-527e073c5be4",
            "udi": "umb://element/73a5a5b0259841b6b4855a669f9583d6",
            "hide": "0"
          },
          {
            "contentTypeKey": "f7c1a71c-9234-4645-9e2d-527e073c5be4",
            "udi": "umb://element/4befd60e55c94636885bcd0d003bfe2b",
            "hide": "0"
          }
        ]
      }
    },
    {
      "contentTypeKey": "f062299d-1ce5-4f9c-a9e7-7a6a27b69675",
      "udi": "umb://element/377e936052e64fcc8d82ccbda15f517b",
      "title": "Featured Items",
      "description": "These are some items I thought you would be interested in",
      "featureItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/5ff7508de04f4f419c33d76cfb1693b4",
              "settingsUdi": "umb://element/83317920352c41c8aaf761c01d3d15ba"
            },
            {
              "contentUdi": "umb://element/64a01ccf17234bfb819499c1bf506b8d",
              "settingsUdi": "umb://element/e5ef9fec97e54555aba59039ffc25245"
            },
            {
              "contentUdi": "umb://element/470b467215a44419b9c5f723ff261d89",
              "settingsUdi": "umb://element/f4e9af7c52a045ffbf13450391811c00"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "16df8e55-4e2e-4bef-a872-04b7e3e528c7",
            "udi": "umb://element/5ff7508de04f4f419c33d76cfb1693b4",
            "title": "Cita Taller",
            "description": "Mantené tu Suzuki en perfectas condiciones con nuestros servicios de taller",
            "image": [
              {
                "key": "5d81067c-33a1-44a5-8287-557332506bd1",
                "mediaKey": "6c4c130d-b205-438c-820b-42a44cc47e21"
              }
            ],
            "link": [
              {
                "name": "AGENDAR CITA",
                "target": "_blank",
                "url": "https://www.google.com/"
              }
            ]
          },
          {
            "contentTypeKey": "16df8e55-4e2e-4bef-a872-04b7e3e528c7",
            "udi": "umb://element/64a01ccf17234bfb819499c1bf506b8d",
            "title": "REPUESTOS",
            "description": "Comprá tus repuestos en línea",
            "image": [
              {
                "key": "767243cb-dbea-4790-a7d0-3fcce72a1bb0",
                "mediaKey": "ae917621-dc65-4033-b31a-7ee2e50d077f"
              }
            ],
            "link": [
              {
                "name": "COMPRAR",
                "target": "_blank",
                "url": "https://www.google.com/"
              }
            ]
          },
          {
            "contentTypeKey": "16df8e55-4e2e-4bef-a872-04b7e3e528c7",
            "udi": "umb://element/470b467215a44419b9c5f723ff261d89",
            "title": "CARROCERÍA Y PINTURA",
            "description": "Siempre Comprometidos a ofrecerle el mejor servicio de enderezado, pintura y mecánica rápida.",
            "image": [
              {
                "key": "33013148-4cd9-4b6b-b4a8-ce96a0497d4a",
                "mediaKey": "79986a08-ce16-4151-be58-2889d322dc40"
              }
            ],
            "link": [
              {
                "name": "CONOCE MÁS",
                "target": "_blank",
                "url": "https://www.google.com/"
              }
            ]
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "4884f774-9d0f-4f57-8704-20b6be4943d8",
            "udi": "umb://element/83317920352c41c8aaf761c01d3d15ba",
            "hide": "0"
          },
          {
            "contentTypeKey": "4884f774-9d0f-4f57-8704-20b6be4943d8",
            "udi": "umb://element/e5ef9fec97e54555aba59039ffc25245",
            "hide": "0"
          },
          {
            "contentTypeKey": "4884f774-9d0f-4f57-8704-20b6be4943d8",
            "udi": "umb://element/f4e9af7c52a045ffbf13450391811c00",
            "hide": "0"
          }
        ]
      }
    },
    {
      "contentTypeKey": "d61cc23a-acf8-4765-8de6-ff453bdfec22",
      "udi": "umb://element/1adad07b8dc847688db5fb4ee13d544e",
      "imageItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/9826bc4f69d54f6288afdbf84323b30f",
              "settingsUdi": "umb://element/6e6634d233ac47d9958b39e724933469"
            },
            {
              "contentUdi": "umb://element/a506edb80e3c4ebda3d8d608ef0ecca9",
              "settingsUdi": "umb://element/f361d9c8ea5740a3b049aa89ffb01a12"
            },
            {
              "contentUdi": "umb://element/9a4a9e18e0dd4b8fa39ea9bb0fce1a61",
              "settingsUdi": "umb://element/f66af646c7fd45f890389161256e5b41"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "16df8e55-4e2e-4bef-a872-04b7e3e528c7",
            "udi": "umb://element/9826bc4f69d54f6288afdbf84323b30f",
            "title": "Promociones",
            "image": [
              {
                "key": "569f2de3-ecae-45b6-b2f1-b8932d6958a3",
                "mediaKey": "4a63b53f-1c62-4983-8716-ce73f0b9a5f3"
              }
            ],
            "link": [
              {
                "name": "Promociones",
                "target": "_blank",
                "url": "https://www.google.com/"
              }
            ]
          },
          {
            "contentTypeKey": "16df8e55-4e2e-4bef-a872-04b7e3e528c7",
            "udi": "umb://element/a506edb80e3c4ebda3d8d608ef0ecca9",
            "title": "Sucursales",
            "image": [
              {
                "key": "53f44e59-f998-4af6-915c-bfd0772d1a82",
                "mediaKey": "ce6c527c-f43a-45a7-87a0-b840b9dc77cb"
              }
            ],
            "link": [
              {
                "name": "Sucursales",
                "target": "_blank",
                "url": "https://www.google.com/"
              }
            ]
          },
          {
            "contentTypeKey": "16df8e55-4e2e-4bef-a872-04b7e3e528c7",
            "udi": "umb://element/9a4a9e18e0dd4b8fa39ea9bb0fce1a61",
            "title": "Test-Drive",
            "image": [
              {
                "key": "89b4e90d-5b2f-4e53-b7ee-b4847943d433",
                "mediaKey": "e53060e3-ec15-45ce-8245-bdd00ecdea7a"
              }
            ],
            "link": [
              {
                "name": "Test Drive",
                "target": "_blank",
                "url": "https://www.google.com/"
              }
            ]
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "4884f774-9d0f-4f57-8704-20b6be4943d8",
            "udi": "umb://element/6e6634d233ac47d9958b39e724933469",
            "hide": "0"
          },
          {
            "contentTypeKey": "4884f774-9d0f-4f57-8704-20b6be4943d8",
            "udi": "umb://element/f361d9c8ea5740a3b049aa89ffb01a12",
            "hide": "0"
          },
          {
            "contentTypeKey": "4884f774-9d0f-4f57-8704-20b6be4943d8",
            "udi": "umb://element/f66af646c7fd45f890389161256e5b41",
            "hide": "0"
          }
        ]
      },
      "title": "Suzuki Te Mueve"
    },
    {
      "contentTypeKey": "108f2b2d-74c7-48cb-9384-71078f1ae27a",
      "udi": "umb://element/be214de886d245f3a59a4788cef975f3",
      "itemsCard": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/7853436d84c84077a7158e5103d1764d",
              "settingsUdi": "umb://element/2b915cb67dcf4677960eefef18ae5b69"
            },
            {
              "contentUdi": "umb://element/4b17812f33d14e6a96835ad7330d07d6",
              "settingsUdi": "umb://element/1506936b5de1490988c419045a751588"
            },
            {
              "contentUdi": "umb://element/8aaa8cb883684ddda9dc4c44c4da7e15",
              "settingsUdi": "umb://element/9eb5634671a94966843850126b87b430"
            },
            {
              "contentUdi": "umb://element/54dcaa231f6f4cdcbb1a8ba1eaf90b87",
              "settingsUdi": "umb://element/c6833f0687084198b390db0a3921fcfc"
            },
            {
              "contentUdi": "umb://element/c60b3bae9df74eba98668b1778db574a",
              "settingsUdi": "umb://element/c10f1900a70f48869cb29a09e7e2f4b3"
            },
            {
              "contentUdi": "umb://element/7462e1a6323b4631a94aa1128f2e4357",
              "settingsUdi": "umb://element/080995a81cc548938933219f6c2cdb49"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "16df8e55-4e2e-4bef-a872-04b7e3e528c7",
            "udi": "umb://element/7853436d84c84077a7158e5103d1764d",
            "description": "Suzuki Scross: Potencia, estilo y diversión",
            "image": [
              {
                "key": "c3919a5f-f300-413f-aa36-2ef9bfa35a69",
                "mediaKey": "f4dc3f0c-cea6-488d-83c6-7b8549eec8bc"
              }
            ],
            "link": [
              {
                "name": "Leer Más",
                "target": "_blank",
                "url": "https://www.google.com/"
              }
            ]
          },
          {
            "contentTypeKey": "16df8e55-4e2e-4bef-a872-04b7e3e528c7",
            "udi": "umb://element/4b17812f33d14e6a96835ad7330d07d6",
            "description": "Libertad en cada curva con el Suzuki Alto",
            "image": [
              {
                "key": "2089f0f7-bd9f-403e-a3b9-2cae37c414a9",
                "mediaKey": "7466ad9e-6725-45b3-b514-aa284d2d3e52"
              }
            ],
            "link": [
              {
                "name": "Leer Más",
                "target": "_blank",
                "url": "https://www.google.com/"
              }
            ]
          },
          {
            "contentTypeKey": "16df8e55-4e2e-4bef-a872-04b7e3e528c7",
            "udi": "umb://element/8aaa8cb883684ddda9dc4c44c4da7e15",
            "description": "¿A dónde vamos a parar?",
            "image": [
              {
                "key": "425cb815-0f8a-4e48-9d63-7ad95745d3b7",
                "mediaKey": "78d30447-5224-4da3-b70d-8d7665977b52"
              }
            ],
            "link": [
              {
                "name": "Leer Más",
                "target": "_blank",
                "url": "https://www.google.com/"
              }
            ]
          },
          {
            "contentTypeKey": "16df8e55-4e2e-4bef-a872-04b7e3e528c7",
            "udi": "umb://element/54dcaa231f6f4cdcbb1a8ba1eaf90b87",
            "description": "It's a match sobre ruedas",
            "image": [
              {
                "key": "5b04d1a4-d720-4dc3-9e70-a8ddc31081ff",
                "mediaKey": "31089e41-f3be-4c32-8008-b07a9feb1e23"
              }
            ],
            "link": [
              {
                "name": "Leer Más",
                "url": "https://www.google.com/"
              }
            ]
          },
          {
            "contentTypeKey": "16df8e55-4e2e-4bef-a872-04b7e3e528c7",
            "udi": "umb://element/c60b3bae9df74eba98668b1778db574a",
            "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
            "image": [
              {
                "key": "d5b08698-dfdc-4b88-a977-77f6e8ff9f56",
                "mediaKey": "fddb8314-0440-4bbc-9bf3-0d98f04d1f8e"
              }
            ],
            "link": [
              {
                "name": "Leer Más",
                "target": "_blank",
                "url": "https://www.google.com/"
              }
            ]
          },
          {
            "contentTypeKey": "16df8e55-4e2e-4bef-a872-04b7e3e528c7",
            "udi": "umb://element/7462e1a6323b4631a94aa1128f2e4357",
            "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
            "image": [
              {
                "key": "9fcefa09-a56f-4245-9fbf-bf11a8b26c2a",
                "mediaKey": "b52e9367-5064-430b-86f3-98fd2859e20e"
              }
            ],
            "link": [
              {
                "name": "Leer Más",
                "target": "_blank",
                "url": "https://www.google.com/"
              }
            ]
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "4884f774-9d0f-4f57-8704-20b6be4943d8",
            "udi": "umb://element/2b915cb67dcf4677960eefef18ae5b69",
            "hide": "0"
          },
          {
            "contentTypeKey": "4884f774-9d0f-4f57-8704-20b6be4943d8",
            "udi": "umb://element/1506936b5de1490988c419045a751588",
            "hide": "0"
          },
          {
            "contentTypeKey": "4884f774-9d0f-4f57-8704-20b6be4943d8",
            "udi": "umb://element/9eb5634671a94966843850126b87b430",
            "hide": "0"
          },
          {
            "contentTypeKey": "4884f774-9d0f-4f57-8704-20b6be4943d8",
            "udi": "umb://element/c6833f0687084198b390db0a3921fcfc",
            "hide": "0"
          },
          {
            "contentTypeKey": "4884f774-9d0f-4f57-8704-20b6be4943d8",
            "udi": "umb://element/c10f1900a70f48869cb29a09e7e2f4b3",
            "hide": "0"
          },
          {
            "contentTypeKey": "4884f774-9d0f-4f57-8704-20b6be4943d8",
            "udi": "umb://element/080995a81cc548938933219f6c2cdb49",
            "hide": "0"
          }
        ]
      },
      "title": "VE TODAS LAS NOTICIAS DE SUZUKI",
      "description": "Descubre las novedades y publicaciones que tenemos para ti."
    },
    {
      "contentTypeKey": "a737be0b-6ef2-4bd9-936a-0f40ff16f42b",
      "udi": "umb://element/864badcf80954e299ffaea74b0820a3d",
      "title": "¡SOMOS SUZUKI, LA MARCA QUE TE MUEVE!",
      "description": "Deja que Suzuki te acompañe y te demuestre con su garantía, potencia y calidad, de lo que es capaz.\n\n",
      "link": [
        {
          "name": "video",
          "url": "https://www.youtube.com/embed/U7QTOk4rxB8?enablejsapi=1&origin=https%3A%2F%2Fsuzuki.cr"
        }
      ]
    },
    {
      "contentTypeKey": "28c6f953-c3b2-45e0-95e5-4fd4b04e572c",
      "udi": "umb://element/823e46fdcd9047fcbe87c41c103e9b12",
      "title": "menu de herramientas",
      "menuAsideItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/acff15316cf647d7afcc3e09288711c2",
              "settingsUdi": "umb://element/7babad1748c54a439ce15d1dc1c5d020"
            },
            {
              "contentUdi": "umb://element/539ed91c90914f4686ae2554871fe3ae",
              "settingsUdi": "umb://element/f90de3eba74145f1887087f26dd727d6"
            },
            {
              "contentUdi": "umb://element/421024cf4634493880de804e2d909f28",
              "settingsUdi": "umb://element/c50c07d5529c49c2b960570d84e4d149"
            },
            {
              "contentUdi": "umb://element/a1b10852c4a044ed8bce0ab47d78e97c",
              "settingsUdi": "umb://element/95213da7b2ef44d9b433fb5b6fe23f84"
            },
            {
              "contentUdi": "umb://element/d54f30d12d1140b0bf3db9a1c4eb8e0f",
              "settingsUdi": "umb://element/c1d5a5f4fc9049778bb362cc02e1db45"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "16df8e55-4e2e-4bef-a872-04b7e3e528c7",
            "udi": "umb://element/acff15316cf647d7afcc3e09288711c2",
            "title": "Configurar",
            "image": [
              {
                "key": "43d2c4bd-1b2e-4bf7-b852-ce4e65891763",
                "mediaKey": "8b172e20-d3ce-4991-a43a-3be72d10d363"
              }
            ],
            "link": null
          },
          {
            "contentTypeKey": "16df8e55-4e2e-4bef-a872-04b7e3e528c7",
            "udi": "umb://element/539ed91c90914f4686ae2554871fe3ae",
            "title": "Cotiza",
            "image": [
              {
                "key": "3ae800c6-fce8-4869-9327-631bb773b19e",
                "mediaKey": "f284b181-1152-4280-82b1-2d7b3b6a7be6"
              }
            ],
            "link": null
          },
          {
            "contentTypeKey": "16df8e55-4e2e-4bef-a872-04b7e3e528c7",
            "udi": "umb://element/421024cf4634493880de804e2d909f28",
            "title": "Test Drive",
            "image": [
              {
                "key": "1c616951-bae1-41fe-9b2f-455610088661",
                "mediaKey": "2a9920a2-3f0c-4156-9fc9-414af64d66a4"
              }
            ],
            "link": null
          },
          {
            "contentTypeKey": "16df8e55-4e2e-4bef-a872-04b7e3e528c7",
            "udi": "umb://element/a1b10852c4a044ed8bce0ab47d78e97c",
            "title": "Agenda Servicio",
            "image": [
              {
                "key": "b06b4c61-1c48-4dc3-9963-a65b0eebc9d9",
                "mediaKey": "806e1f9b-74d4-4bbb-b037-9085953e07c2"
              }
            ],
            "link": null
          },
          {
            "contentTypeKey": "16df8e55-4e2e-4bef-a872-04b7e3e528c7",
            "udi": "umb://element/d54f30d12d1140b0bf3db9a1c4eb8e0f",
            "title": "WhatsApp",
            "image": [
              {
                "key": "0b466e0a-35f3-498b-9239-9cb451709d70",
                "mediaKey": "261295e3-30e4-4167-be72-e82141c53eb2"
              }
            ],
            "link": null
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "4884f774-9d0f-4f57-8704-20b6be4943d8",
            "udi": "umb://element/7babad1748c54a439ce15d1dc1c5d020",
            "hide": "0"
          },
          {
            "contentTypeKey": "4884f774-9d0f-4f57-8704-20b6be4943d8",
            "udi": "umb://element/f90de3eba74145f1887087f26dd727d6",
            "hide": "0"
          },
          {
            "contentTypeKey": "4884f774-9d0f-4f57-8704-20b6be4943d8",
            "udi": "umb://element/c50c07d5529c49c2b960570d84e4d149",
            "hide": "0"
          },
          {
            "contentTypeKey": "4884f774-9d0f-4f57-8704-20b6be4943d8",
            "udi": "umb://element/95213da7b2ef44d9b433fb5b6fe23f84",
            "hide": "0"
          },
          {
            "contentTypeKey": "4884f774-9d0f-4f57-8704-20b6be4943d8",
            "udi": "umb://element/c1d5a5f4fc9049778bb362cc02e1db45",
            "hide": "0"
          }
        ]
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "060d26f4-167c-4d26-9879-0ed54373eab3",
      "udi": "umb://element/a9f7bc3675f445a9bcfadf4f01962d42",
      "hide": "0",
      "showIndicators": "1",
      "showNavigationsArrows": "0"
    },
    {
      "contentTypeKey": "2345b3c9-ba23-4f36-9aca-045380e95183",
      "udi": "umb://element/2eaa2682046840e68fd9fda27536df94",
      "hide": "0"
    },
    {
      "contentTypeKey": "8153e00f-c6bb-4daf-bc8b-4f283607a68b",
      "udi": "umb://element/bfd61902c06547a594499a0fc0e5cb57",
      "hide": "0"
    },
    {
      "contentTypeKey": "e642376d-a3bd-4df5-b2a9-585a6241603f",
      "udi": "umb://element/7659c1d8067d498393257801bc46058f",
      "hide": "0"
    },
    {
      "contentTypeKey": "19d1b8d5-061f-47cb-89e3-846f4f05e9fd",
      "udi": "umb://element/065d59d41e774aae89210dc965b7f493",
      "hide": "0"
    },
    {
      "contentTypeKey": "353046bc-e0f1-4b91-b4fb-b3b65811d13b",
      "udi": "umb://element/85640716b3aa46958d31f2bf71d2c95f",
      "hide": "0"
    }
  ]
}]]></Value>
    </mainContent>
    <mainNavigation>
      <Value><![CDATA[[
  {
    "key": "0684d4b9-5717-4235-a4a2-a9a3f21997aa",
    "name": "Modelos",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Modelos",
    "link": [
      {
        "name": "Modelos",
        "url": "https://www.google.com/"
      }
    ],
    "childLink": null
  },
  {
    "key": "3de4aee6-0a84-424e-b467-88ec46ba2578",
    "name": "Posventa",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Posventa",
    "link": null,
    "childLink": [
      {
        "name": "Campaña de Seguridad",
        "target": "_blank",
        "url": "https://www.google.com/"
      },
      {
        "name": "Carroceria y Pintura",
        "target": "_blank",
        "url": "https://www.google.com/"
      },
      {
        "name": "Citas Taller",
        "target": "_blank",
        "url": "https://www.google.com/"
      },
      {
        "name": "Taller Movil",
        "target": "_blank",
        "url": "https://www.google.com/"
      },
      {
        "name": "Repuesto",
        "target": "_blank",
        "url": "https://www.google.com/"
      }
    ]
  },
  {
    "key": "093803c1-64e1-4c68-a184-6a7c52572f29",
    "name": "Sucursales",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Sucursales",
    "link": null,
    "childLink": null
  },
  {
    "key": "7d6c9178-aeff-4aaa-9f92-5c13dc5098d9",
    "name": "Usados",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Usados",
    "link": null,
    "childLink": null
  },
  {
    "key": "d6a30328-d852-493c-b66a-16254490ef48",
    "name": "Promociones",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Promociones",
    "link": null,
    "childLink": null
  }
]]]></Value>
    </mainNavigation>
    <textoDos>
      <Value><![CDATA[ VEHÍCULOS DE TRABAJO S.A., INCHCAPE DISTRIBUIDOR AUTORIZADO DE SUZUKI COSTA RICA]]></Value>
    </textoDos>
    <textoUno>
      <Value><![CDATA[POLITICAS DE COOKIES - TÉRMINOS Y CONDICIONES]]></Value>
    </textoUno>
    <titulo>
      <Value><![CDATA[ENCUENTRA TU SUCURSAL]]></Value>
    </titulo>
  </Properties>
</Content>