<?xml version="1.0" encoding="utf-8"?>
<Content Key="50f4f824-72ae-47c1-b1c4-426de83b2b59" Alias="Home Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomePage</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2023-11-08T15:51:20</CreateDate>
    <NodeName Default="Home Page">
      <Name Culture="en-us">Home Page</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="9d5ce128-2052-4b61-93c4-b7b6bf2c0bdc">HomePage</Template>
  </Info>
  <Properties>
    <hide>
      <Value><![CDATA[0]]></Value>
    </hide>
    <imageLogo>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "3251ced4-129d-44ce-af54-fe03f613da3c",
    "mediaKey": "db87003d-d88c-4f4a-8c8b-e2a3a192aa26"
  }
]]]></Value>
    </imageLogo>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4f09603bdf8b43ef8a3dab96a39194e2",
        "settingsUdi": "umb://element/a9f7bc3675f445a9bcfadf4f01962d42"
      },
      {
        "contentUdi": "umb://element/377e936052e64fcc8d82ccbda15f517b",
        "settingsUdi": "umb://element/2eaa2682046840e68fd9fda27536df94"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d22a3bff-5b6b-4d31-9b9d-5cc6de40653a",
      "udi": "umb://element/4f09603bdf8b43ef8a3dab96a39194e2",
      "carouselItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/409a2d2545ae422d9dcdd62ada85e183",
              "settingsUdi": "umb://element/a87d2e1512664619826079d2cbb84d10"
            },
            {
              "contentUdi": "umb://element/3708e8201258430dafc6d8e7ac11df07",
              "settingsUdi": "umb://element/73a5a5b0259841b6b4855a669f9583d6"
            },
            {
              "contentUdi": "umb://element/b0b9e307460b440f8305c69e8943dc9b",
              "settingsUdi": "umb://element/4befd60e55c94636885bcd0d003bfe2b"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "53ec2c1f-7bae-4966-95f3-09408eff8762",
            "udi": "umb://element/409a2d2545ae422d9dcdd62ada85e183",
            "title": "Img 1",
            "image": [
              {
                "key": "3559cde9-a6ad-41fa-81ef-1295a0014b00",
                "mediaKey": "d5585a0f-5958-4b39-ae95-ebd1f1e6f2a7"
              }
            ]
          },
          {
            "contentTypeKey": "53ec2c1f-7bae-4966-95f3-09408eff8762",
            "udi": "umb://element/3708e8201258430dafc6d8e7ac11df07",
            "title": "Img 2",
            "image": [
              {
                "key": "a92fd60c-7e89-46ee-a92e-87745ad74e6b",
                "mediaKey": "40a1e683-61f2-4905-abf5-1b4ca5de2120"
              }
            ]
          },
          {
            "contentTypeKey": "53ec2c1f-7bae-4966-95f3-09408eff8762",
            "udi": "umb://element/b0b9e307460b440f8305c69e8943dc9b",
            "title": "ave",
            "image": [
              {
                "key": "72acdea4-7537-4812-bb9a-6b29c2975b2a",
                "mediaKey": "be1d2c25-43a5-43f6-beb5-273220e68e23"
              }
            ]
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "f7c1a71c-9234-4645-9e2d-527e073c5be4",
            "udi": "umb://element/a87d2e1512664619826079d2cbb84d10",
            "hide": "0"
          },
          {
            "contentTypeKey": "f7c1a71c-9234-4645-9e2d-527e073c5be4",
            "udi": "umb://element/73a5a5b0259841b6b4855a669f9583d6",
            "hide": "0"
          },
          {
            "contentTypeKey": "f7c1a71c-9234-4645-9e2d-527e073c5be4",
            "udi": "umb://element/4befd60e55c94636885bcd0d003bfe2b",
            "hide": "0"
          }
        ]
      }
    },
    {
      "contentTypeKey": "f062299d-1ce5-4f9c-a9e7-7a6a27b69675",
      "udi": "umb://element/377e936052e64fcc8d82ccbda15f517b",
      "title": "Featured Items",
      "description": "These are some items I thought you would be interested in",
      "featureItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/5ff7508de04f4f419c33d76cfb1693b4",
              "settingsUdi": "umb://element/83317920352c41c8aaf761c01d3d15ba"
            },
            {
              "contentUdi": "umb://element/64a01ccf17234bfb819499c1bf506b8d",
              "settingsUdi": "umb://element/e5ef9fec97e54555aba59039ffc25245"
            },
            {
              "contentUdi": "umb://element/470b467215a44419b9c5f723ff261d89",
              "settingsUdi": "umb://element/f4e9af7c52a045ffbf13450391811c00"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "16df8e55-4e2e-4bef-a872-04b7e3e528c7",
            "udi": "umb://element/5ff7508de04f4f419c33d76cfb1693b4",
            "title": "Cita Taller",
            "description": "Mantené tu Suzuki en perfectas condiciones con nuestros servicios de taller",
            "image": [
              {
                "key": "5d81067c-33a1-44a5-8287-557332506bd1",
                "mediaKey": "6c4c130d-b205-438c-820b-42a44cc47e21"
              }
            ],
            "link": [
              {
                "name": "AGENDAR CITA",
                "target": "_blank",
                "url": "https://www.google.com/"
              }
            ]
          },
          {
            "contentTypeKey": "16df8e55-4e2e-4bef-a872-04b7e3e528c7",
            "udi": "umb://element/64a01ccf17234bfb819499c1bf506b8d",
            "title": "REPUESTOS",
            "description": "Comprá tus repuestos en línea",
            "image": [
              {
                "key": "767243cb-dbea-4790-a7d0-3fcce72a1bb0",
                "mediaKey": "ae917621-dc65-4033-b31a-7ee2e50d077f"
              }
            ],
            "link": [
              {
                "name": "COMPRAR",
                "target": "_blank",
                "url": "https://www.google.com/"
              }
            ]
          },
          {
            "contentTypeKey": "16df8e55-4e2e-4bef-a872-04b7e3e528c7",
            "udi": "umb://element/470b467215a44419b9c5f723ff261d89",
            "title": "CARROCERÍA Y PINTURA",
            "description": "Siempre Comprometidos a ofrecerle el mejor servicio de enderezado, pintura y mecánica rápida.",
            "image": [
              {
                "key": "33013148-4cd9-4b6b-b4a8-ce96a0497d4a",
                "mediaKey": "79986a08-ce16-4151-be58-2889d322dc40"
              }
            ],
            "link": [
              {
                "name": "CONOCE MÁS",
                "target": "_blank",
                "url": "https://www.google.com/"
              }
            ]
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "4884f774-9d0f-4f57-8704-20b6be4943d8",
            "udi": "umb://element/83317920352c41c8aaf761c01d3d15ba",
            "hide": "0"
          },
          {
            "contentTypeKey": "4884f774-9d0f-4f57-8704-20b6be4943d8",
            "udi": "umb://element/e5ef9fec97e54555aba59039ffc25245",
            "hide": "0"
          },
          {
            "contentTypeKey": "4884f774-9d0f-4f57-8704-20b6be4943d8",
            "udi": "umb://element/f4e9af7c52a045ffbf13450391811c00",
            "hide": "0"
          }
        ]
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "060d26f4-167c-4d26-9879-0ed54373eab3",
      "udi": "umb://element/a9f7bc3675f445a9bcfadf4f01962d42",
      "hide": "0",
      "showIndicators": "1",
      "showNavigationsArrows": "1"
    },
    {
      "contentTypeKey": "2345b3c9-ba23-4f36-9aca-045380e95183",
      "udi": "umb://element/2eaa2682046840e68fd9fda27536df94",
      "hide": "0"
    }
  ]
}]]></Value>
    </mainContent>
    <mainNavigation>
      <Value><![CDATA[[
  {
    "key": "0684d4b9-5717-4235-a4a2-a9a3f21997aa",
    "name": "Modelos",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Modelos",
    "link": [
      {
        "name": "Modelos",
        "url": "https://www.google.com/"
      }
    ],
    "childLink": null
  },
  {
    "key": "3de4aee6-0a84-424e-b467-88ec46ba2578",
    "name": "Posventa",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Posventa",
    "link": null,
    "childLink": [
      {
        "name": "Campaña de Seguridad",
        "target": "_blank",
        "url": "https://www.google.com/"
      },
      {
        "name": "Carroceria y Pintura",
        "target": "_blank",
        "url": "https://www.google.com/"
      },
      {
        "name": "Citas Taller",
        "target": "_blank",
        "url": "https://www.google.com/"
      },
      {
        "name": "Taller Movil",
        "target": "_blank",
        "url": "https://www.google.com/"
      },
      {
        "name": "Repuesto",
        "target": "_blank",
        "url": "https://www.google.com/"
      }
    ]
  },
  {
    "key": "093803c1-64e1-4c68-a184-6a7c52572f29",
    "name": "Sucursales",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Sucursales",
    "link": null,
    "childLink": null
  },
  {
    "key": "7d6c9178-aeff-4aaa-9f92-5c13dc5098d9",
    "name": "Usados",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Usados",
    "link": null,
    "childLink": null
  },
  {
    "key": "d6a30328-d852-493c-b66a-16254490ef48",
    "name": "Promociones",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Promociones",
    "link": null,
    "childLink": null
  }
]]]></Value>
    </mainNavigation>
  </Properties>
</Content>